# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Intro to Pandas 2
Week 2 | Day 2

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Use the .loc function to slice
- Set and reset DataFrame Indices
- Use .isin()
- Perform boolean indexing on dataframes
- Perform math functions on pandas Series

## Recap of yesterday

### Importing pandas:
```python
import pandas as pd
```

### Reading in a csv: 

```python
df = pd.read_csv()
```

### Viewing the head and tail

```python
df.head()
df.tail()
```

### Viewing the columns and the index
```python
df.columns
df.index
```

### Data type info
```python
df.info()
```

### Summary statistics
```python
df.describe()
df['some_column_name'].max()
df['some_column_name'].min()
```

### Uniques
```python
df['some_column_name'].nunique()
df['some_column_name'].unique()
```

### Creating a histogram
```python
df['some_column_name'].hist()
```

## Slicing with .iloc

In [69]:
# import pandas
import pandas as pd

# create a dictionary
numbs = {'ones': [1, 2, 3, 4], 'tens': [10, 20, 30, 40], 'hundos': [100, 200, 300, 400]}

# pass dictionary into DataFrame and set the columns to keep the order
df = pd.DataFrame(numbs, columns=['ones', 'tens', 'hundos'])

### Slicing with .iloc

In [70]:
df.iloc[0:2,0:1]

   ones
0     1
1     2

### How do we get column 1?

In [71]:
# solution

df.iloc[:, 0:1]

   ones
0     1
1     2
2     3
3     4

### How do we turn it into a DataFrame?

In [72]:
df.iloc[:, 0].to_frame()

   ones
0     1
1     2
2     3
3     4

## How do we get the first  3 rows and 2 columns?

In [73]:
df.iloc[:3, 0:2]

   ones  tens
0     1    10
1     2    20
2     3    30

### Notice this is exclusive - we get 0, 1, 2 for rows and 0,1 for columns

### One more. How do we get all rows and column 0 and 2?

In [74]:
df.iloc[:, [0,2]]

   ones  hundos
0     1     100
1     2     200
2     3     300
3     4     400

### Can we get only columns with an 'o' in them with iloc?

In [77]:
df.iloc[:, [x for x in df.columns if 'o' in x]]

TypeError: cannot perform reduce with flexible type

## No.

## Introducing .loc

In [ ]:
df.loc[:, [x for x in df.columns if 'o' in x]]

### .loc allows us to use combined slicing: numeric and named

In [ ]:
df.loc[:3, ['ones', 'tens']]

### Notice that it is inclusive! It includes the last item listed

### Notice we can't use the .iloc syntax of all numerics

In [ ]:
df.loc[:2, 1]

## Let's change the index

In [ ]:
from string import ascii_lowercase

# change the index to be lower case letters
df.index = [x for x in ascii_lowercase[:len(df.index)]]

In [ ]:
df

## Now we'll use .loc to slice with a named index

In [ ]:
# list of indicies
df.loc[['a','c'], :]

In [ ]:
# slicing with named indices
df.loc['b':, :]

In [80]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [81]:
state_df = pd.DataFrame([states.keys(),\
              states.values(),\
              [len(x) for x in states.values()]],\
              index=['abbreviation', 'name', 'name_length']).T

## DataFrame of state names

In [82]:
# we have the index as what currently?
state_df

   abbreviation            name name_length
0            WA      Washington          10
1            WI       Wisconsin           9
2            WV   West Virginia          13
3            FL         Florida           7
4            WY         Wyoming           7
5            NH   New Hampshire          13
6            NJ      New Jersey          10
7            NM      New Mexico          10
8            NC  North Carolina          14
9            ND    North Dakota          12
10           NE        Nebraska           8
11           NY        New York           8
12           RI    Rhode Island          12
13           NV          Nevada           6
14           CO        Colorado           8
15           CA      California          10
16           GA         Georgia           7
17           CT     Connecticut          11
18           OK        Oklahoma           8
19           OH            Ohio           4
20           KS          Kansas           6
21           SC  South Carolina          14
22           KY        Kentucky           8
23           OR          Oregon           6
24           SD    South Dakota          12
25           DE        Delaware           8
26           HI          Hawaii           6
27           TX           Texas           5
28           LA       Louisiana           9
29           TN       Tennessee           9
30           PA    Pennsylvania          12
31           VA        Virginia           8
32           AK          Alaska           6
33           AL         Alabama           7
34           AR        Arkansas           8
35           VT         Vermont           7
36           IL        Illinois           8
37           IN         Indiana           7
38           IA            Iowa           4
39           AZ         Arizona           7
40           ID           Idaho           5
41           ME           Maine           5
42           MD        Maryland           8
43           MA   Massachusetts          13
44           UT            Utah           4
45           MO        Missouri           8
46           MN       Minnesota           9
47           MI        Michigan           8
48           MT         Montana           7
49           MS     Mississippi          11

## Let's change the index

We have numbers as the index, let's make the index the state's abbreviation

In [83]:
state_df.set_index('abbreviation')

                        name name_length
abbreviation
WA                Washington          10
WI                 Wisconsin           9
WV             West Virginia          13
FL                   Florida           7
WY                   Wyoming           7
NH             New Hampshire          13
NJ                New Jersey          10
NM                New Mexico          10
NC            North Carolina          14
ND              North Dakota          12
NE                  Nebraska           8
NY                  New York           8
RI              Rhode Island          12
NV                    Nevada           6
CO                  Colorado           8
CA                California          10
GA                   Georgia           7
CT               Connecticut          11
OK                  Oklahoma           8
OH                      Ohio           4
KS                    Kansas           6
SC            South Carolina          14
KY                  Kentucky           8
OR                    Oregon           6
SD              South Dakota          12
DE                  Delaware           8
HI                    Hawaii           6
TX                     Texas           5
LA                 Louisiana           9
TN                 Tennessee           9
PA              Pennsylvania          12
VA                  Virginia           8
AK                    Alaska           6
AL                   Alabama           7
AR                  Arkansas           8
VT                   Vermont           7
IL                  Illinois           8
IN                   Indiana           7
IA                      Iowa           4
AZ                   Arizona           7
ID                     Idaho           5
ME                     Maine           5
MD                  Maryland           8
MA             Massachusetts          13
UT                      Utah           4
MO                  Missouri           8
MN                 Minnesota           9
MI                  Michigan           8
MT                   Montana           7
MS               Mississippi          11

## Notice that was just a view, did not change the data

In [84]:
state_df

   abbreviation            name name_length
0            WA      Washington          10
1            WI       Wisconsin           9
2            WV   West Virginia          13
3            FL         Florida           7
4            WY         Wyoming           7
5            NH   New Hampshire          13
6            NJ      New Jersey          10
7            NM      New Mexico          10
8            NC  North Carolina          14
9            ND    North Dakota          12
10           NE        Nebraska           8
11           NY        New York           8
12           RI    Rhode Island          12
13           NV          Nevada           6
14           CO        Colorado           8
15           CA      California          10
16           GA         Georgia           7
17           CT     Connecticut          11
18           OK        Oklahoma           8
19           OH            Ohio           4
20           KS          Kansas           6
21           SC  South Carolina          14
22           KY        Kentucky           8
23           OR          Oregon           6
24           SD    South Dakota          12
25           DE        Delaware           8
26           HI          Hawaii           6
27           TX           Texas           5
28           LA       Louisiana           9
29           TN       Tennessee           9
30           PA    Pennsylvania          12
31           VA        Virginia           8
32           AK          Alaska           6
33           AL         Alabama           7
34           AR        Arkansas           8
35           VT         Vermont           7
36           IL        Illinois           8
37           IN         Indiana           7
38           IA            Iowa           4
39           AZ         Arizona           7
40           ID           Idaho           5
41           ME           Maine           5
42           MD        Maryland           8
43           MA   Massachusetts          13
44           UT            Utah           4
45           MO        Missouri           8
46           MN       Minnesota           9
47           MI        Michigan           8
48           MT         Montana           7
49           MS     Mississippi          11

## Have to save as a new DataFrame or use inplace=True

In [85]:
state_df.set_index(['abbreviation','name'], inplace=True)

## Now we can see the changes 'stuck'

In [86]:
state_df

                            name_length
abbreviation name
WA           Washington              10
WI           Wisconsin                9
WV           West Virginia           13
FL           Florida                  7
WY           Wyoming                  7
NH           New Hampshire           13
NJ           New Jersey              10
NM           New Mexico              10
NC           North Carolina          14
ND           North Dakota            12
NE           Nebraska                 8
NY           New York                 8
RI           Rhode Island            12
NV           Nevada                   6
CO           Colorado                 8
CA           California              10
GA           Georgia                  7
CT           Connecticut             11
OK           Oklahoma                 8
OH           Ohio                     4
KS           Kansas                   6
SC           South Carolina          14
KY           Kentucky                 8
OR           Oregon                   6
SD           South Dakota            12
DE           Delaware                 8
HI           Hawaii                   6
TX           Texas                    5
LA           Louisiana                9
TN           Tennessee                9
PA           Pennsylvania            12
VA           Virginia                 8
AK           Alaska                   6
AL           Alabama                  7
AR           Arkansas                 8
VT           Vermont                  7
IL           Illinois                 8
IN           Indiana                  7
IA           Iowa                     4
AZ           Arizona                  7
ID           Idaho                    5
ME           Maine                    5
MD           Maryland                 8
MA           Massachusetts           13
UT           Utah                     4
MO           Missouri                 8
MN           Minnesota                9
MI           Michigan                 8
MT           Montana                  7
MS           Mississippi             11

## What if we want to go back?

In [87]:
state_df

                            name_length
abbreviation name
WA           Washington              10
WI           Wisconsin                9
WV           West Virginia           13
FL           Florida                  7
WY           Wyoming                  7
NH           New Hampshire           13
NJ           New Jersey              10
NM           New Mexico              10
NC           North Carolina          14
ND           North Dakota            12
NE           Nebraska                 8
NY           New York                 8
RI           Rhode Island            12
NV           Nevada                   6
CO           Colorado                 8
CA           California              10
GA           Georgia                  7
CT           Connecticut             11
OK           Oklahoma                 8
OH           Ohio                     4
KS           Kansas                   6
SC           South Carolina          14
KY           Kentucky                 8
OR           Oregon                   6
SD           South Dakota            12
DE           Delaware                 8
HI           Hawaii                   6
TX           Texas                    5
LA           Louisiana                9
TN           Tennessee                9
PA           Pennsylvania            12
VA           Virginia                 8
AK           Alaska                   6
AL           Alabama                  7
AR           Arkansas                 8
VT           Vermont                  7
IL           Illinois                 8
IN           Indiana                  7
IA           Iowa                     4
AZ           Arizona                  7
ID           Idaho                    5
ME           Maine                    5
MD           Maryland                 8
MA           Massachusetts           13
UT           Utah                     4
MO           Missouri                 8
MN           Minnesota                9
MI           Michigan                 8
MT           Montana                  7
MS           Mississippi             11

## Need to reset it!

In [88]:
state_df.reset_index(inplace=True)

In [89]:
state_df

   abbreviation            name name_length
0            WA      Washington          10
1            WI       Wisconsin           9
2            WV   West Virginia          13
3            FL         Florida           7
4            WY         Wyoming           7
5            NH   New Hampshire          13
6            NJ      New Jersey          10
7            NM      New Mexico          10
8            NC  North Carolina          14
9            ND    North Dakota          12
10           NE        Nebraska           8
11           NY        New York           8
12           RI    Rhode Island          12
13           NV          Nevada           6
14           CO        Colorado           8
15           CA      California          10
16           GA         Georgia           7
17           CT     Connecticut          11
18           OK        Oklahoma           8
19           OH            Ohio           4
20           KS          Kansas           6
21           SC  South Carolina          14
22           KY        Kentucky           8
23           OR          Oregon           6
24           SD    South Dakota          12
25           DE        Delaware           8
26           HI          Hawaii           6
27           TX           Texas           5
28           LA       Louisiana           9
29           TN       Tennessee           9
30           PA    Pennsylvania          12
31           VA        Virginia           8
32           AK          Alaska           6
33           AL         Alabama           7
34           AR        Arkansas           8
35           VT         Vermont           7
36           IL        Illinois           8
37           IN         Indiana           7
38           IA            Iowa           4
39           AZ         Arizona           7
40           ID           Idaho           5
41           ME           Maine           5
42           MD        Maryland           8
43           MA   Massachusetts          13
44           UT            Utah           4
45           MO        Missouri           8
46           MN       Minnesota           9
47           MI        Michigan           8
48           MT         Montana           7
49           MS     Mississippi          11

## Exercise

Using the states_df:
- set the index to the state name and save it as new_state
- use the .loc method to select all the states that begin with the letter 'N'
- reset the index back to a zero-based index and do so inplace

In [90]:
new_state = state_df.set_index(['name'])
new_state.head()

              abbreviation name_length
name
Washington              WA          10
Wisconsin               WI           9
West Virginia           WV          13
Florida                 FL           7
Wyoming                 WY           7

In [91]:
new_state.loc[[x for x in new_state.index if "N" in x]]

               abbreviation name_length
name
New Hampshire            NH          13
New Jersey               NJ          10
New Mexico               NM          10
North Carolina           NC          14
North Dakota             ND          12
Nebraska                 NE           8
New York                 NY           8
Nevada                   NV           6

In [92]:
new_state.reset_index(inplace=True)
new_state.head()

            name abbreviation name_length
0     Washington           WA          10
1      Wisconsin           WI           9
2  West Virginia           WV          13
3        Florida           FL           7
4        Wyoming           WY           7

## Using .isin()

In [93]:
state_df

   abbreviation            name name_length
0            WA      Washington          10
1            WI       Wisconsin           9
2            WV   West Virginia          13
3            FL         Florida           7
4            WY         Wyoming           7
5            NH   New Hampshire          13
6            NJ      New Jersey          10
7            NM      New Mexico          10
8            NC  North Carolina          14
9            ND    North Dakota          12
10           NE        Nebraska           8
11           NY        New York           8
12           RI    Rhode Island          12
13           NV          Nevada           6
14           CO        Colorado           8
15           CA      California          10
16           GA         Georgia           7
17           CT     Connecticut          11
18           OK        Oklahoma           8
19           OH            Ohio           4
20           KS          Kansas           6
21           SC  South Carolina          14
22           KY        Kentucky           8
23           OR          Oregon           6
24           SD    South Dakota          12
25           DE        Delaware           8
26           HI          Hawaii           6
27           TX           Texas           5
28           LA       Louisiana           9
29           TN       Tennessee           9
30           PA    Pennsylvania          12
31           VA        Virginia           8
32           AK          Alaska           6
33           AL         Alabama           7
34           AR        Arkansas           8
35           VT         Vermont           7
36           IL        Illinois           8
37           IN         Indiana           7
38           IA            Iowa           4
39           AZ         Arizona           7
40           ID           Idaho           5
41           ME           Maine           5
42           MD        Maryland           8
43           MA   Massachusetts          13
44           UT            Utah           4
45           MO        Missouri           8
46           MN       Minnesota           9
47           MI        Michigan           8
48           MT         Montana           7
49           MS     Mississippi          11

## We get a boolean (True/False) Series back

In [94]:
states_with_direction = ['North Dakota', 'North Carolina',\
                         'South Carolina', 'South Dakota',\
                         'West Virginia']

state_df['name'].isin(states_with_direction)

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24     True
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: name, dtype: bool

## Wrapping that in state_df[ ] gives us only the True rows

In [95]:
state_df[state_df['name'].isin(states_with_direction)]

   abbreviation            name name_length
2            WV   West Virginia          13
8            NC  North Carolina          14
9            ND    North Dakota          12
21           SC  South Carolina          14
24           SD    South Dakota          12

## Exercise

Using the state_df DataFrame:
- use .isin() to select only those rows that have a name_length of 10 or 12 characters
- use another .isin() with a list comprehension to select only the columns that are abbreviated that begin with an 'N' or a 'S'

In [96]:
state_df

   abbreviation            name name_length
0            WA      Washington          10
1            WI       Wisconsin           9
2            WV   West Virginia          13
3            FL         Florida           7
4            WY         Wyoming           7
5            NH   New Hampshire          13
6            NJ      New Jersey          10
7            NM      New Mexico          10
8            NC  North Carolina          14
9            ND    North Dakota          12
10           NE        Nebraska           8
11           NY        New York           8
12           RI    Rhode Island          12
13           NV          Nevada           6
14           CO        Colorado           8
15           CA      California          10
16           GA         Georgia           7
17           CT     Connecticut          11
18           OK        Oklahoma           8
19           OH            Ohio           4
20           KS          Kansas           6
21           SC  South Carolina          14
22           KY        Kentucky           8
23           OR          Oregon           6
24           SD    South Dakota          12
25           DE        Delaware           8
26           HI          Hawaii           6
27           TX           Texas           5
28           LA       Louisiana           9
29           TN       Tennessee           9
30           PA    Pennsylvania          12
31           VA        Virginia           8
32           AK          Alaska           6
33           AL         Alabama           7
34           AR        Arkansas           8
35           VT         Vermont           7
36           IL        Illinois           8
37           IN         Indiana           7
38           IA            Iowa           4
39           AZ         Arizona           7
40           ID           Idaho           5
41           ME           Maine           5
42           MD        Maryland           8
43           MA   Massachusetts          13
44           UT            Utah           4
45           MO        Missouri           8
46           MN       Minnesota           9
47           MI        Michigan           8
48           MT         Montana           7
49           MS     Mississippi          11

In [97]:

state_df[state_df['name_length'].isin([10,12])]
#state_df

   abbreviation          name name_length
0            WA    Washington          10
6            NJ    New Jersey          10
7            NM    New Mexico          10
9            ND  North Dakota          12
12           RI  Rhode Island          12
15           CA    California          10
24           SD  South Dakota          12
30           PA  Pennsylvania          12

In [98]:
vowels = ['A','C']
state_df[\
         state_df['abbreviation']\
        .isin(\
              [x for x in state_df['abbreviation']\
               if x[0] in vowels or 'S' in x[0]\
              ]\
             )\
        ]

   abbreviation            name name_length
14           CO        Colorado           8
15           CA      California          10
17           CT     Connecticut          11
21           SC  South Carolina          14
24           SD    South Dakota          12
32           AK          Alaska           6
33           AL         Alabama           7
34           AR        Arkansas           8
39           AZ         Arizona           7

## Futher into Boolean indexing

In [99]:
state_df['name_length'] > 10

0     False
1     False
2      True
3     False
4     False
5      True
6     False
7     False
8      True
9      True
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17     True
18    False
19    False
20    False
21     True
22    False
23    False
24     True
25    False
26    False
27    False
28    False
29    False
30     True
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43     True
44    False
45    False
46    False
47    False
48    False
49     True
Name: name_length, dtype: bool

## Again, we can wrap that

In [100]:
# gives us the only rows that have a length greater than 10
state_df[state_df['name_length']>10]

   abbreviation            name name_length
2            WV   West Virginia          13
5            NH   New Hampshire          13
8            NC  North Carolina          14
9            ND    North Dakota          12
12           RI    Rhode Island          12
17           CT     Connecticut          11
21           SC  South Carolina          14
24           SD    South Dakota          12
30           PA    Pennsylvania          12
43           MA   Massachusetts          13
49           MS     Mississippi          11

## Another example

In [101]:
state_df[state_df['name'].str.contains('South')]

   abbreviation            name name_length
21           SC  South Carolina          14
24           SD    South Dakota          12

## Let's use an 'and' here to combine requirements

In [102]:
state_df[(state_df['name_length']>12)\
          & \
         #   & = AND
         (state_df['name'].str.contains('South'))]

   abbreviation            name name_length
21           SC  South Carolina          14

## Let's use an 'or' statement

In [103]:
state_df[(state_df['name'].str.contains('North'))\
          | \
         # | = OR
         (state_df['name'].str.contains('South'))]

   abbreviation            name name_length
8            NC  North Carolina          14
9            ND    North Dakota          12
21           SC  South Carolina          14
24           SD    South Dakota          12

## Exercise

Using the state_df DataFrame:
- use Boolean indexing to select all states with a y in their name
- using the same code from the line above add another condition to only return states that have 10 or fewer characters in their name

In [110]:
state_df[(state_df['name'].str.contains('y'))]

   abbreviation          name name_length
4            WY       Wyoming           7
6            NJ    New Jersey          10
22           KY      Kentucky           8
30           PA  Pennsylvania          12
42           MD      Maryland           8

In [111]:
state_df[\
         (state_df['name_length']<=10)\
          & \
         #   & = AND
         (state_df['name'].str.contains('y'))\
        ]

   abbreviation        name name_length
4            WY     Wyoming           7
6            NJ  New Jersey          10
22           KY    Kentucky           8
42           MD    Maryland           8

## Math with pandas columns

In [112]:
state_df

   abbreviation            name name_length
0            WA      Washington          10
1            WI       Wisconsin           9
2            WV   West Virginia          13
3            FL         Florida           7
4            WY         Wyoming           7
5            NH   New Hampshire          13
6            NJ      New Jersey          10
7            NM      New Mexico          10
8            NC  North Carolina          14
9            ND    North Dakota          12
10           NE        Nebraska           8
11           NY        New York           8
12           RI    Rhode Island          12
13           NV          Nevada           6
14           CO        Colorado           8
15           CA      California          10
16           GA         Georgia           7
17           CT     Connecticut          11
18           OK        Oklahoma           8
19           OH            Ohio           4
20           KS          Kansas           6
21           SC  South Carolina          14
22           KY        Kentucky           8
23           OR          Oregon           6
24           SD    South Dakota          12
25           DE        Delaware           8
26           HI          Hawaii           6
27           TX           Texas           5
28           LA       Louisiana           9
29           TN       Tennessee           9
30           PA    Pennsylvania          12
31           VA        Virginia           8
32           AK          Alaska           6
33           AL         Alabama           7
34           AR        Arkansas           8
35           VT         Vermont           7
36           IL        Illinois           8
37           IN         Indiana           7
38           IA            Iowa           4
39           AZ         Arizona           7
40           ID           Idaho           5
41           ME           Maine           5
42           MD        Maryland           8
43           MA   Massachusetts          13
44           UT            Utah           4
45           MO        Missouri           8
46           MN       Minnesota           9
47           MI        Michigan           8
48           MT         Montana           7
49           MS     Mississippi          11

## Let's add a new column that is 100x name_length

In [115]:
tmp_df = state_df.copy()

tmp_df['name_length_x100'] = tmp_df['name_length'] * 100
tmp_df['ones'] = 1
tmp_df

   abbreviation            name name_length name_length_x100  ones
0            WA      Washington          10             1000     1
1            WI       Wisconsin           9              900     1
2            WV   West Virginia          13             1300     1
3            FL         Florida           7              700     1
4            WY         Wyoming           7              700     1
5            NH   New Hampshire          13             1300     1
6            NJ      New Jersey          10             1000     1
7            NM      New Mexico          10             1000     1
8            NC  North Carolina          14             1400     1
9            ND    North Dakota          12             1200     1
10           NE        Nebraska           8              800     1
11           NY        New York           8              800     1
12           RI    Rhode Island          12             1200     1
13           NV          Nevada           6              600     1
14           CO        Colorado           8              800     1
15           CA      California          10             1000     1
16           GA         Georgia           7              700     1
17           CT     Connecticut          11             1100     1
18           OK        Oklahoma           8              800     1
19           OH            Ohio           4              400     1
20           KS          Kansas           6              600     1
21           SC  South Carolina          14             1400     1
22           KY        Kentucky           8              800     1
23           OR          Oregon           6              600     1
24           SD    South Dakota          12             1200     1
25           DE        Delaware           8              800     1
26           HI          Hawaii           6              600     1
27           TX           Texas           5              500     1
28           LA       Louisiana           9              900     1
29           TN       Tennessee           9              900     1
30           PA    Pennsylvania          12             1200     1
31           VA        Virginia           8              800     1
32           AK          Alaska           6              600     1
33           AL         Alabama           7              700     1
34           AR        Arkansas           8              800     1
35           VT         Vermont           7              700     1
36           IL        Illinois           8              800     1
37           IN         Indiana           7              700     1
38           IA            Iowa           4              400     1
39           AZ         Arizona           7              700     1
40           ID           Idaho           5              500     1
41           ME           Maine           5              500     1
42           MD        Maryland           8              800     1
43           MA   Massachusetts          13             1300     1
44           UT            Utah           4              400     1
45           MO        Missouri           8              800     1
46           MN       Minnesota           9              900     1
47           MI        Michigan           8              800     1
48           MT         Montana           7              700     1
49           MS     Mississippi          11             1100     1

## Let's add two columns together

In [116]:
tmp_df['name_added_cols'] = tmp_df['name_length'] + tmp_df['name_length_x100']

tmp_df

,abbreviation,name,name_length,name_length_x100,ones,name_added_cols
0,WA,Washington,10,1000,1,1010
1,WI,Wisconsin,9,900,1,909
2,WV,West Virginia,13,1300,1,1313
3,FL,Florida,7,700,1,707
4,WY,Wyoming,7,700,1,707
5,NH,New Hampshire,13,1300,1,1313
6,NJ,New Jersey,10,1000,1,1010
7,NM,New Mexico,10,1000,1,1010
8,NC,North Carolina,14,1400,1,1414
9,ND,North Dakota,12,1200,1,1212
10,NE,Nebraska,8,800,1,808
11,NY,New York,8,800,1,808
12,RI,Rhode Island,12,1200,1,1212
13,NV,Nevada,6,600,1,606
14,CO,Colorado,8,800,1,808
15,CA,California,10,1000,1,1010
16,GA,Georgia,7,700,1,707
17,CT,Connecticut,11,1100,1,1111
18,OK,Oklahoma,8,800,1,808
19,OH,Ohio,4,400,1,404
20,KS,Kansas,6,600,1,606
21,SC,South Carolina,14,1400,1,1414
22,KY,Kentucky,8,800,1,808
23,OR,Oregon,6,600,1,606
24,SD,South Dakota,12,1200,1,1212
25,DE,Delaware,8,800,1,808
26,HI,Hawaii,6,600,1,606
27,TX,Texas,5,500,1,505
28,LA,Louisiana,9,900,1,909
29,TN,Tennessee,9,900,1,909
30,PA,Pennsylvania,12,1200,1,1212
31,VA,Virginia,8,800,1,808
32,AK,Alaska,6,600,1,606
33,AL,Alabama,7,700,1,707
34,AR,Arkansas,8,800,1,808
35,VT,Vermont,7,700,1,707
36,IL,Illinois,8,800,1,808
37,IN,Indiana,7,700,1,707
38,IA,Iowa,4,400,1,404
39,AZ,Arizona,7,700,1,707
40,ID,Idaho,5,500,1,505
41,ME,Maine,5,500,1,505
42,MD,Maryland,8,800,1,808
43,MA,Massachusetts,13,1300,1,1313
44,UT,Utah,4,400,1,404
45,MO,Missouri,8,800,1,808
46,MN,Minnesota,9,900,1,909
47,MI,Michigan,8,800,1,808
48,MT,Montana,7,700,1,707
49,MS,Mississippi,11,1100,1,1111

## Exercise

Using the state_df DataFrame again:
- Save temp_df as a copy of state_df
- Double the name_length column by adding it to itself
- Double the doubled column you created by multiplying it by 2

In [124]:
temp_df = state_df.copy()
temp_df['name_lenx+x'] = temp_df['name_length'] + temp_df['name_length']
temp_df['name_len2x'] = temp_df['name_length'] * 2

temp_df

   abbreviation            name name_length name_lenx+x name_len2x
0            WA      Washington          10          20         20
1            WI       Wisconsin           9          18         18
2            WV   West Virginia          13          26         26
3            FL         Florida           7          14         14
4            WY         Wyoming           7          14         14
5            NH   New Hampshire          13          26         26
6            NJ      New Jersey          10          20         20
7            NM      New Mexico          10          20         20
8            NC  North Carolina          14          28         28
9            ND    North Dakota          12          24         24
10           NE        Nebraska           8          16         16
11           NY        New York           8          16         16
12           RI    Rhode Island          12          24         24
13           NV          Nevada           6          12         12
14           CO        Colorado           8          16         16
15           CA      California          10          20         20
16           GA         Georgia           7          14         14
17           CT     Connecticut          11          22         22
18           OK        Oklahoma           8          16         16
19           OH            Ohio           4           8          8
20           KS          Kansas           6          12         12
21           SC  South Carolina          14          28         28
22           KY        Kentucky           8          16         16
23           OR          Oregon           6          12         12
24           SD    South Dakota          12          24         24
25           DE        Delaware           8          16         16
26           HI          Hawaii           6          12         12
27           TX           Texas           5          10         10
28           LA       Louisiana           9          18         18
29           TN       Tennessee           9          18         18
30           PA    Pennsylvania          12          24         24
31           VA        Virginia           8          16         16
32           AK          Alaska           6          12         12
33           AL         Alabama           7          14         14
34           AR        Arkansas           8          16         16
35           VT         Vermont           7          14         14
36           IL        Illinois           8          16         16
37           IN         Indiana           7          14         14
38           IA            Iowa           4           8          8
39           AZ         Arizona           7          14         14
40           ID           Idaho           5          10         10
41           ME           Maine           5          10         10
42           MD        Maryland           8          16         16
43           MA   Massachusetts          13          26         26
44           UT            Utah           4           8          8
45           MO        Missouri           8          16         16
46           MN       Minnesota           9          18         18
47           MI        Michigan           8          16         16
48           MT         Montana           7          14         14
49           MS     Mississippi          11          22         22

## Conclusion

In this lecture we covered:
- How to use the .loc function to slice and how it differs from .iloc
- How to set and reset DataFrame Indices
- How to use .isin()
- How to perform boolean indexing on dataframes
- How to combine conditions using '|' and '&'
- How to perform math on pandas Series